* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color:#fffffe;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #004643;
  color: #fffffe;
  text-align: center;
  padding: 10px;

}

.headerLi {
  margin-top: 1%;
}

.headerLi li {
  list-style: none;
  display: inline;
  padding: 10px;  
}

main {
  padding: 50px;
}

.post {
  border: solid black 1px;
  margin-top: 3%;

}

.postHeader {
  background-color: #004643;
  color: #fffffe;
  padding: 20px;
}

.postBody {
  padding: 20px;
  background-color: #abd1c6;
}

.username {
  width: 80%;
  padding: 5px;
}